<p>bookserie info:</p>
<div class="wrapper">
    <img src="{{ image }}">
    <ul>
        <li>id: {{id}}</li>
        <li>title: {{ title }}</li>
        <li>author: {{ author }}</li>
        <li>yearOfPublishing: {{ yearOfPublishing}}</li>
        <li>pages: {{ pages }}</li>
        <li>genre: {{ genre }}</li>
        <li>description: {{ description }}</li>
        <li>rate: {{ rate }}</li>
        <li>cover: {{ cover }}</li>
        <li>price: {{ price | currency}}</li>
        <li>bookSerieTitle: {{ bookSerieTitle }}</li>
        <li>nextBook: {{ nextBook }}</li>
    </ul>
</div>