.wrapper {
    font-size: 20px;
    max-width: 1024px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.wrapper img {
}
.wrapper li {
    margin-bottom: 10px;
}
p {
    font-size: 18px;
    font-weight: bold;
}