<p>bookserie info:</p>
<div class="wrapper">
    <img src="{{ seriesBook.image }}">
    <ul>
        <li>id: {{seriesBook.id}}</li>
        <li>title: {{ seriesBook.title }}</li>
        <li>author: {{ seriesBook.author }}</li>
        <li>yearOfPublishing: {{ seriesBook.yearOfPublishing}}</li>
        <li>pages: {{ seriesBook.pages }}</li>
        <li>genre: {{ seriesBook.genre }}</li>
        <li>description: {{ seriesBook.description }}</li>
        <li>rate: {{ seriesBook.rate }}</li>
        <li>cover: {{ seriesBook.cover }}</li>
        <li>price: {{ seriesBook.price | currency}}</li>
        <li>bookSerieTitle: {{ seriesBook.bookSerieTitle }}</li>
        <li>nextBook: {{ seriesBook.nextBook }}</li>
    </ul>
</div>